---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  title="TehnoCats"
  description="TehnoCats internship in Birka company"
>
  <ul>
    <li>
      <a href="./aleksei-smirnov/">Post 1</a>
    </li>
    <li>
      <a href="./elizaveta-obrezkova/">Post 2</a>
    </li>
  </ul>
</MainLayout>