---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

// disable SSR on this page
export const prerender = true;

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
});
---

<MainLayout title="TehnoCats" description="TehnoCats internship in Birka company">

  <section class="container about" aria-label="About TehnoCats">
    <img src="/images/tehnoCats.jpg" alt="TehnoCats" width="200" height="330" />
    <div class="content">
      <h1 class="h1">TehnoCats</h1>
      <p>This page provides information about TehnoCats</p>
      <Link href="/blog/" text="Cats" style="secondary"/>
    </div>
  </section>

  <section class="container" aria-label="New Blog Posts">
    <h2 class="h1">New Blog Posts</h2>
    <div class="post-container">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>

</MainLayout>
