---
//component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="TehnoCats"
  description="TehnoCats internship in Birka company"
>
  <div>hello from index</div>
</MainLayout>
