---
// JSX imports
import Comment from "./Comment";
import CommentForm from "./CommentForm";

---

<section style="width: 90%; margin: 0 auto; display: flex; flex-direction: column; gap: 20px; grid-row: 3 / 4;">
    <section class="comments" style="display: flex; flex-direction: column; gap: 5px; ">
        <Comment />
        <Comment />
        <Comment />
    </section>

    <CommentForm />
</section>

