---
import { NewCommentForm } from "./NewCommentForm";
import CommentsSSR from "./CommentsSSR.astro";

const { id } = Astro.props;
---

<section
  style="width: 90%; margin: 0 auto; display: flex; flex-direction: column; gap: 20px; grid-row: 3 / 4;"
>
  <h2 class="h3">Comments</h2>
  <section
    class="comments"
    style="display: flex; flex-direction: column; gap: 5px; "
  >
    <CommentsSSR id={id} />
    <NewCommentForm id={id} client:load />
  </section>
</section>
