---
export const prerender = true;
const { id } = Astro.props;
import CommentsSSR from "./CommentsSSR.astro";
---

<section
  style="width: 90%; margin: 0 auto; display: flex; flex-direction: column; gap: 20px; grid-row: 3 / 4;"
>
  <h2 class="h3">Comments</h2>
  <section
    class="comments"
    style="display: flex; flex-direction: column; gap: 5px; "
  >
    <CommentsSSR id={id} />
  </section>
</section>
