---
//component imports
import MainHead from "./MainHead.astro";

const {
  title = "Birka internship",
  description = "Learning the basics of Astro",
} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <slot>Default</slot>
  </body>
</html>
